.hero {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    
}



.left-h {
    padding: 2rem 2rem 0;
    padding-top: 1.5rem;
    flex: 1;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;


}

.right-h {
    flex: 2;
    position: relative;

}

.hero-text {
    padding: 0;
    justify-content: center;
    align-items: center;

}

.olympus-text {
    gap: 1.5rem;
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: bold;
    color: white;
    font-family: 'Cardo', serif;
    letter-spacing: 6px;
    text-shadow: 2px 5px #262626;

}

.semidioses-text {
    font-family: 'Roboto Flex', sans-serif;
    color: white;
    font-size: 1.5rem;
    letter-spacing: 8px;
    text-shadow: 2px 2px #262626;
    display: flex;
    justify-content: center;
    align-items: center;


}

.hero-image {
    position: absolute;
    top: 2.2rem;
    right: 1rem;
    left: -3.8rem;
    height: 90vh;
    width: 100%;


}

@media screen and (max-width: 767px) {

    .hero {
        justify-content: center;
        align-items: center;
    }

    


    .olympus-text {
        font-size: 4rem;
        justify-content: center;
        align-items: center;

    }

    .semidioses-text {
        font-size: 1rem;
        letter-spacing: 6px;
        justify-content: center;
        align-items: center;
    }

    .right-h {
        position: absolute;
        transition: none;
        top: 0;
        left: -2;
        height: 100vh;
        z-index: 1;
        width: 768px;
        overflow-x: hidden;
        object-fit: cover;
    }


}

@media only screen and (max-width: 479px) {}

@media only screen and (max-width: 1220px) {

    .left-h {
        position: relative;
        z-index: 2;
    }

    .right-h {
        position: absolute;
        top: 0;
        height: 100vh;
        z-index: 1;
        width: 1000px;
        overflow-x: hidden;
        object-fit: cover;
        justify-content: center;
        align-items: center;
        display: flex;
    }
}




/* Small devices such as large phones (640px and up) */
/* @media only screen and (max-width: 479px) {} */


/* Medium devices such as tablets (768px and up) */
/* @media only screen and (max-width: 767px) {} */

/* Large devices such as laptops (1024px and up) */
/* @media only screen and (max-width: 984px) {} */