.Footer-container{
    position: relative;
}

.Footer-container>hr{
border: 1px solid #E5DC16;


}

.footer{
    padding: 1rem 2rem;
    display:flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    height: 20rem;
}

.social{
    display: flex;
    gap: 4rem;
}

.insta, .fb, .maps{
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}



.logo-l>img{
    width: 10rem;
}