.Testimonials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1px
}

.right {
    flex: 1;
    position: relative;
    right: 3rem;
}

.left {
    flex: 1;
    padding: 20px 0; 
    position: relative;
    left: 4rem;
}


h1 {
    text-align: center;
    font-weight: bold;
    font-size: 6rem;
    position: relative;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-style: italic;
    text-shadow: 4px 4px 2px rgba(255, 255, 255, 0.095);
}

.tns-outer{
margin: 0;
max-width: 600px;
}

.tns-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    height: 29rem;


}

.tns-nav {
    display: flex;
    justify-content: center;
    margin: 0 0 15px;
}

.tns-nav button {
    background: #6b6b6b;
    border: none;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

button[data-action="start"],
button[data-action="stop"] {
    display: none;
}


.tns-nav button.tns-nav-active {
    background: #fff;
}


@media screen and (max-width: 1128px) {
    .Testimonials{
        flex-direction: column;
    }

    .right {
        justify-content: flex-start;
        align-items: flex-start;
        right: 0;
        margin-top: -2rem;
    }
    
    .left {
        justify-content: center;
        align-items: center;
        left: 1rem;
        right: 1rem;
    }

    h1 {
        font-size: 3rem;
    }
    .tns-outer{
    padding: 0 40px;
        max-width: 90%;
        }
        
    .tns-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    height: 15rem;

}

.tns-nav button {
    width: 15px;
    height: 15px;
}
}