.Testimonials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1px
}

.right {
    flex: 1;
    position: relative;
    right: 1rem;
}

.left {
    flex: 1;
    padding: 20px 0;
    position: relative;
    left: 3rem;
}


h1 {
    text-align: center;
    font-weight: bold;
    font-size: 5rem;
    position: relative;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-style: italic;
    text-shadow: 4px 4px 2px rgba(255, 255, 255, 0.095);
}

.tns-outer {
    max-width: 600px;
    /* background-color: rgba(33, 33, 39, 0.24);
border-radius: 6%; */
    height: 30rem;

}

.tns-inner {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.tns-item {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 550px;

}

.main-image {

    height: 27rem;
    padding: 1rem 1rem 2rem;
    box-shadow: 3px 3px 4px 4px rgb(35, 35, 35);
    border-radius: 8px 8px;

}



button[data-action="start"],
button[data-action="stop"],
.tns-nav {
    display: none;
}




@media screen and (max-width: 1128px) {
    .Testimonials {
        flex-direction: column;
    }

    .right {
        justify-content: flex-start;
        align-items: flex-start;
        right: 0;
        margin: -39rem 0 22rem 0;
        
    }

    .left {
        justify-content: center;
        align-items: center;
        display: flex;
        text-align: center;
        left: 0;
        margin-top: 5rem;
        /* left: 1rem; */
        /* right: 1rem; */
    }

    h1 {
        font-size: 3rem;
    }

    .tns-outer {
        padding: 0 40px;
        max-width: 90%;
    }

    .tns-inner{
        max-width: 90%;
    }

    .main-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        height: 100%;

    }

    
}