.Testimonials {
    display: flex;
    gap: 1rem;
    padding: 0 2rem;
    margin: 0;
}

.testimonials-l {
    display: flex;
    flex: 2;
    gap: 1rem;
    flex-direction: column;
    color: white;
}



.testimonials-l>:nth-child(1) {
    font-weight: bold;
    font-size: 2rem;
    
}

.testimonials-l>:nth-child(3) {
    text-transform: none;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 40px;
}

.testimonials-r {
    flex: 1;
    position: relative;
    display: flex;
    height: 23rem;
}

.testimonials-r>img {
    position: absolute;
    width: 17rem;
    height: 20rem;
    object-fit: cover;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}


.arrows {
    gap: 1rem;
    position: absolute;
    display: flex;
    top: 40%;
    right: 20%;




}

.arrows>img {
    width: 1.5rem;
    cursor: pointer;
}

@media screen and (max-width:1128px) {

    .Testimonials {
        flex-direction: column;
    }

    .testimonials-l>:nth-child(1) {
        font-size: 2rem;
        justify-content: center;
        align-items: center;
        justify-self: center;
    }

    .testimonials-l>:nth-child(3) {
        line-height: 20px;
        justify-content: center;
    }

    .testimonials-r {
        display: inline-block;
        }

  

    .testimonials-r>img {
        top: 0;
        position: relative;
    }

    .arrows {
        padding: 10px;
        margin: 0;
        right: 0.1rem;
    }
}