.Reasons {
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 90vh;
}


.right-r{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 25rem;
    
}

.right-r>div>span {
    font-weight: bold;
    font-size: 3.5rem;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 30px;
    
}

.right-r>div {
    color: white;
    font-size: 3.5rem;
    position: relative;
    align-items: center;
    justify-content: center;

}

.video {
    height: 25rem;
    width: 43rem;
    border-color: rgba(255, 255, 255, 0.147);
    background-color: rgba(255, 255, 255, 0.136);
}



@media screen and (max-width: 1128px) {
    .Reasons {
        flex-direction: column;
        padding: 2rem;
        overflow: hidden;
        height: 50vh;
    }

    .right-r {
        position: relative;
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 0;
    }

    .video {
        height: 320px;
        width: 100%;
        border-color: rgba(255, 255, 255, 0.127);
        background-color: rgba(255, 255, 255, 0.192);
        overflow-x: hidden;
    }

    .right-r>div>span {
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        position: relative;
        padding: 0;
    }




}